
@import 'variables';

body {
  color: $text-color-general;
  font-family: $font-varient;
  background-color: $background-color-dark;
}

.heading {

  &-xl {
    font-size: 48px;
    color: $primary-color;
    line-height: 48px;
    font-weight: weight(bold);

  }
  
  &-lg {
    font-size: 30px;
    line-height: 48px;
    color:$text-color;
    font-weight: weight(medium);

  }
  &-md {
    font-size: 17px;
    line-height: 20px;
    color: $primary-color;
    font-weight: weight(regular);
  }

}

.paragraph {
  &-md {
    font-size: 11px;
    line-height: 1.34;
    color: $text-color-light;
    font-weight: 400;
  
  }
  &-lg {
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
    color: $text-color-light;

  }
  
}
