.input {
    @include layout;
    padding: 16px;
    
    &--email {
        width: 388px;
        height: 35px;
        margin-bottom: 10px;
        padding: 0 15px;
    }

    &--password {
        @extend .input--email;
    }

    &--mobnum {
        @extend .input--email;
    }

    &__para {
        text-align: left;
        margin-bottom: 10px;
    }

    &__sbt {
        margin-bottom: 20px;
    }
    &__foot {
        display: block;
        padding-bottom: 50px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
     
    }
   
}


.input__name {
    margin-bottom: 10px;
    border-top: 1px solid $text-color-light;
    padding-top: 15px;

    &--feilds {
        position: relative;
        display: inline-block;

    }

    &--text {
        color: #999;
        position: absolute;
        pointer-events: none;
        left: 11px;
        top: 10px;
        transition: 0.2s;
        visibility: hidden;
    }

    &--first {
        width: 190px;
        height: 35px;
        margin-right: 8px;
        padding: 0 10px;
    }

    &--surname {
        width: 190px;
        height: 35px;
        padding: 0 10px;
    }

}

input {
    outline: none;
    box-shadow: none;
    border: 2px solid $border-color;
    border-radius: 5px;

    &:focus {
        border: solid $button-color;
        border-bottom: solid $button-color;
    }
  
    &:focus~.input__name--text {
        top: -10px;
        left: 15px;
        font-size: small;
        color: $button-color;
        background-color: $text-color-general;
        padding: 0 3px 0 3px;
        visibility: visible;

    }
   

    &::placeholder {
        color: $text-color-light;
        font-size: 15px;
       
    }
}





.fnerror::before,
.fnerror::after{
    position: absolute;
    left: -220px;
}

.fnerror::before{
   @include tooltip;
}

.fnerror::after{
    content: '';
    border: 10px solid transparent;
    border-left-color: $danger ;
    font-size: 5px;
    left: 0;
    top: 70%;
    transform: translate(-50%,-50%);
}

.snerror::before,
.snerror::after{
    position: absolute;
    right: -220px;
}
.snerror::before{
   @include tooltip;
}

.snerror::after{
    content: '';
    border: 10px solid transparent;
    border-right-color: $danger ;
    font-size: 5px;
    right: -20px;
    top: 70%;
    transform: translate(-50%,-50%);
}


.emailerror::before,
.emailerror::after{
    position: absolute;
    top: 31px;
    right: -202px;
    z-index: 1;
}
.emailerror::before{
   @include tooltip;
}

.emailerror::after{
    content: '';
    border: 10px solid transparent;
    border-left-color: $danger ;
    font-size: 5px;
    right: -20px;
    top: 70%;
    transform: translate(-50%,-50%);
}


.pherror::before,
.pherror::after{
    position: absolute;
    left: -220px;
   
}

.pherror::before{
   @include tooltip;
}

.pherror::after{
    content: '';
    border: 10px solid transparent;
    border-left-color: $danger ;
    font-size: 5px;
    left: 0;
    top: 44%;
    transform: translate(-50%,-50%);
}


.passerror::before,
.passerror::after{
    position: absolute;
    right: -220px;
}
.passerror::before{
   @include tooltip;
}

.passerror::after{
    content: '';
    border: 10px solid transparent;
    border-right-color: $danger ;
    font-size: 5px;
    right: -20px;
    top: 51%;
    transform: translate(-50%,-50%);
}